body {
  background-image: url ("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQu8wFvuJN1y0iivXASaNdjpWMlkiOELi_Yq_Fb-3z-jBAh5-rvhttps://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQu8wFvuJN1y0iivXASaNdjpWMlkiOELi_Yq_Fb-3z-jBAh5-rv"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 500px; /* You must set a specified height */
  backgroundlyZ-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
h1{ color: white; 
   text-align: center;
  
  
  
}
p { color: white; 
   text-align: center;
  
}
